<h1>Edit Guest Info! </h1>

<%= form_for @guest, :action => "update"  do |f| %>
    <%= f.label :name, "Enter the Guest Name:" %>
    <%= f.text_field :name, required: true %>
    <br><br>
    <%= f.label :occupation, "Enter the Guest Occupation:" %>
    <%= f.text_field :occupation, required: true %>
    <br><br>
    <%= f.submit "Edit This Entry!" %>
<% end %>