<h1>New Episode</h1>


<% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
        <li><%= err %></li>
    <% end %>
<% end %>
<br>

<%= form_for @episode do |f| %>
    <%= f.label :date %>
    <%= f.date_select :date %>
    <%= f.hidden_field :number, value: Episode.all.count + 1 %>
    <%= f.submit %>
<% end %>