<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<center>

<%= link_to "Deliverable #1", appearances_path %>   |   <%= link_to "Deliverable #2", new_appearance_path %>   |   <%= link_to "Deliverable #3", guests_path %>   |   <%= link_to "Deliverable #4", episodes_path %>

</center>
    <%= yield %>
  </body>
</html>
